<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>showBooks.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>BookManageServlet</servlet-name>
        <servlet-class>Servlets.BookManageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookManageServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OneBookServlet</servlet-name>
        <servlet-class>Servlets.BookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OneBookServlet</servlet-name>
        <url-pattern>/searchBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthorsServlet</servlet-name>
        <servlet-class>Servlets.AuthorsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthorsServlet</servlet-name>
        <url-pattern>/authorsBooks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarksServlet</servlet-name>
        <servlet-class>Servlets.MarksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MarksServlet</servlet-name>
        <url-pattern>/addMark</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentsServlet</servlet-name>
        <servlet-class>Servlets.CommentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CommentsServlet</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>


</web-app>